<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">
      <div class="masthead clearfix">
        <div class="container inner">
          <h3 class="masthead-brand">Web gestão de refrigerantes</h3>
        </div>
      </div>
      <br /><br /><br />
      <div class="inner cover">
        <div class="camera-div d-flex justify-content-center">
          <div class="camera">
            <ngx-scanner-qrcode
              #action="scanner"
              (event)="onRead($event)"
            ></ngx-scanner-qrcode>
            <br /><br />
            <button
              class="btn-primary"
              (click)="action.start()"
              [disabled]="action.isLoading"
            >
              {{ action.isStart ? 'Parar leitura' : 'Iniciar leitura' }}
            </button>
          </div>
        </div>
        <!-- <h1 class="cover-heading">Cover your page.</h1>
		  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
		  <p class="lead">
			<a href="#" class="btn btn-lg btn-default">Learn more</a>
		  </p> -->
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
